<!DOCTYPE html>
<html>
<head>
  <title>Sneaky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="upload-image-section">
	<h1>Upload an image</h1>
<%= yield %>
<h1>Geolocation</h1>
<div id="upload"></div>
<p id="demo"></p>
</div>
<hr>
<div id="collection-section">
	<h1>Images section</h1>
	<div id="image-gallery"></div>
</div>
<hr>
<div id="map-section">
	<h1>Map Section</h1>
	<div id="map"></div>
</div>






</body>
</html>
