/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require dropzone
 *= require_tree .
 */


 #map_canvas {
    width: 550px;
    height: 100%;
}

#header {
	top: 0px;
	background-color: #4B9C46;
	width: auto;
	border-radius: 10px;
	margin: 5px;
	margin-top: 8px;
	padding: 3px;
	box-shadow: 3px 3px 3px 3px #ccc;
	position: fixed;
}

.header-title {
	font-family: "Impact";
	margin: 5px;
	margin-left: 10px;
	color: white;
}

.header-description {
	font-family: "Futura";
	font-size: 20px;
	margin: 5px;
	margin-left: 10px;
	color: white;
}

/*html, #map_canvas {
	height: 100%;
	overflow: auto;
}*/

#map-section {
	position: fixed;
	right: 0;
	margin-right: 10px;
	height: 100%;
}



.pictures {
	display: inline;
/*	width: 70%;*/

}

img {
	margin: 5px;
	    height: auto;
    max-width: 100%;
}

/*#collection-section {
	width: 60%;
}

#image-gallery {
	overflow: auto;
}*/

#collection-section { overflow: scroll; width: 1000px; }
#image-gallery { width: 1000px; }
